/* styles go here */
body {
  padding: 0;
  border: 0;
}

.form {
  margin-bottom: 20px;
}

.interesting_fact_color {
  display: inline-block;
}

.form_field {
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}
