/* styles go here */
body {
  margin: 0 10px 50px;
}

.client_input {
  margin: 5px 0;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.form {
  margin: 20px 0;
}

.interesting_fact_car {
  display: inline-block;
  overflow-y: hidden;
}

.interesting_fact_color {
  display: inline-block;
}
